<!doctype html>
<html>
	<head> 
		<meta charset="utf-8">
		<title>Free Skype Resolver</title>
		<link rel="shortcut icon" href="http://cdn1.iconfinder.com/data/icons/Keyamoon-IcoMoon--limited/16/skype.png">
		<link rel="stylesheet" href="{{ style_static }}">
	</head>
<body>

	<div id="container">
		<img src="http://i48.tinypic.com/296dut0.png" alt="100% Free Skype Resolver" title="Free Skype Resolver" class="headimg">
		<div class="stats-container">
			<p class="stats">Your IP Address: <span>{{ client_ip }}</span></p>
			<p class="stats">Total API Servers: <span>10</span></p>
		</div>
	<div class="form-input">
			<br>
			<center>			
				<form action="." method="POST"><input type="text" name="skypeid">
		    	<input type="submit" name="check-form" value="Check">
				</form>
			</center>
		<br>
		<p class="copyright">&copy; 2014 - <a href="http://www.nguyenphuoc.net">NPPloveyou - Nguyenph88</a></p>
	</div>

</body>
</html>
